.unmoved {
	transform: none !important;
}

/* Customize the label (the container) */
.container {
	display: block;
	position: relative;
}
/* Hide the browser's default checkbox */
.container input {
	position: absolute;
	opacity: 0;
	height: 0;
	width: 0;
}

/* Create a custom checkbox */
.checkmark {
	position: absolute;
	top: -10px;
	left: 0;
	height: 20px;
	width: 20px;
	background-color: #ccc;
	border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container input ~ .checkmark:hover {
	background-color: #bbb;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
	background-color: #192e57;
}

/* On mouse-over checked, add a grey background color */
.container input:checked ~ .checkmark:hover {
	background-color: #141522;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: '';
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
	left: 5%;
	top: 5%;
	width: 80%;
	height: 80%;
	border: solid white 1px;
	border-radius: 50%;
}
